* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f3eadf;
  color: #2b1b14;
}


/* =========================
   NAVBAR
========================= */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 78px;
  padding: 0 6%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 250, 243, 0.94);
  backdrop-filter: blur(15px);

  border-bottom: 1px solid #e2d3c3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo > :first-child {
  font-size: 32px;
}

.logo strong {
  display: block;
  font-family: Georgia, serif;
  font-size: 19px;
}

.logo span {
  display: block;
  margin-top: 4px;

  color: #9a775c;
  font-size: 8px;
  letter-spacing: 2px;
}

.cart-button {
  position: relative;

  width: 52px;
  height: 52px;

  border: none;
  border-radius: 50%;

  background: #3a251c;
  color: white;

  font-size: 21px;
  cursor: pointer;

  transition: 0.3s;
}

.cart-button:hover {
  transform: scale(1.1);
}

.cart-button span {
  position: absolute;
  top: -4px;
  right: -4px;

  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #c69b6d;

  font-size: 12px;
}


/* =========================
   HERO
========================= */

.hero {
  min-height: 680px;

  padding: 80px 7%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 70px;

  overflow: hidden;

  background:
    radial-gradient(
      circle at 80% 40%,
      #ead8c3 0%,
      #f3eadf 45%,
      #f3eadf 100%
    );
}

.hero-text {
  max-width: 600px;
}

.eyebrow {
  margin-bottom: 22px;

  color: #a47a58;

  font-size: 12px;
  font-weight: bold;

  letter-spacing: 3px;
}

.hero h1 {
  font-family: Georgia, serif;

  font-size: clamp(48px, 6vw, 82px);

  line-height: 0
